<html>
<head>
    <meta charset="utf-8">
    <title>Django Highcharts Example</title>
</head>
<body>
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
      <!--setTimeout(function(){-->
   <!--window.location.reload(1);-->
<!--}, 10);-->



</script>
<script>
    Highcharts.chart('container', {
        title: {
        text: 'Changes'
    },

    xAxis: {
        title: {
            enabled: true,
            text: 'TimeStamp'
        },
        type: 'datetime',

        dateTimeLabelFormats : {
            hour: '%I %p',
            minute: '%I:%M %p',
            second: '%I:%M:%S %p'
        }
    },

    yAxis: {
        title: {
            text: 'Event data'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series: [{
        name: 'x',
        data: [{% for entry in x %}[Date.UTC({{ entry.0.year }}, {{ entry.0.month }}, {{ entry.0.day }}, {{ entry.0.hour }}, {{ entry.0.minute }}, {{ entry.0.second }}), {{ entry.1 }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    {
        name: 'y',
        data: [{% for entry in y %}[Date.UTC({{ entry.0.year }}, {{ entry.0.month }}, {{ entry.0.day }}, {{ entry.0.hour }}, {{ entry.0.minute }}, {{ entry.0.second }}), {{ entry.1 }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    },
    {
        name: 'z',
        data: [{% for entry in z %}[Date.UTC({{ entry.0.year }}, {{ entry.0.month }}, {{ entry.0.day }}, {{ entry.0.hour }}, {{ entry.0.minute }}, {{ entry.0.second }}), {{ entry.1 }}]{% if not forloop.last %}, {% endif %}{% endfor %}]
    }]
    });

</script>
</body>
</html>



